@charset "UTF-8";
/*Mixin */
/*variables */
/*Helper Classes */
.col-centered { float: none; margin: 0px auto; }

.float-left { float: left; }

.marginZero { margin-left: 0px; margin-right: 0px; }

.padLeftRightZero { padding-left: 0px; padding-right: 0px; }

body { margin: 0px; padding: 0px; background-image: url("../img/bg-rect.png"); background-size: cover; overflow-x: hidden !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*INPUT WITH IMG ON BOTH SIDES */
.inputWithImg { position: relative; margin: 20px 0px; height: 46px; }
.inputWithImg .iconImgWithInput, .inputWithImg .iconImg, .inputWithImg .iconRightImg { position: absolute; top: 14px; font-size: 18px; z-index: 1; color: #e4e0e1; }
.inputWithImg .iconImg { left: 15px; }
.inputWithImg .iconRightImg { right: 15px; cursor: pointer; }
.inputWithImg input { position: relative; height: 100%; border: 1px solid #e4e0e1; outline: none; box-shadow: none !important; text-indent: 30px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; }
.inputWithImg input:focus { outline: none !important; }

/*HEXAGON SHAPE */
.hexagon { position: relative; width: 38.104px; height: 22px; background-color: #64C7CC; margin: 11px 0; text-align: center; color: white; }
.hexagon::before, .hexagon::after { content: ""; position: absolute; width: 0; left: 0px; width: 0; border-left: 19.052px solid transparent; border-right: 19.052px solid transparent; }
.hexagon::before { bottom: 100%; border-bottom: 11px solid #64C7CC; }
.hexagon::after { top: 100%; border-top: 11px solid #64C7CC; }

/*CUSTOM CHECKBOX */
.customCheckboxWrap { font-size: 18px; position: relative; display: block; margin-bottom: 25px; padding-left: 15px; cursor: pointer; }
.customCheckboxWrap input { position: absolute; z-index: -1; opacity: 0; -webkit-transition: background 0.3s ease-out; -moz-transition: background 0.3s ease-out; -ms-transition: background 0.3s ease-out; transition: background 0.3s ease-out; }
.customCheckboxWrap input:checked ~ .customCheckbox, .customCheckboxWrap input:not([disabled]):checked ~ .customCheckbox, .customCheckboxWrap input:checked:focus ~ .customCheckbox { background: #d0c9c3; }
.customCheckboxWrap input:input:disabled ~ .customCheckbox { pointer-events: none; opacity: 0.6; background: #e6e6e6; }
.customCheckboxWrap .customCheckbox { position: absolute; top: 2px; left: 0; width: 23px; height: 23px; content: "ï§"; background: #f47564; color: white; text-align: center; }

/*COMMON DROPDOWN MENU */
.dropdown-menu { padding: 0px; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }

/*-------------------- AUTHOR CUSTOM'S STYLES ---------------------- */
.mainContainer { padding: 0px; -webkit-box-shadow: 0px 0px 19px 0px rgba(160, 97, 82, 0.75); -moz-box-shadow: 0px 0px 19px 0px rgba(160, 97, 82, 0.75); -ms-box-shadow: 0px 0px 19px 0px rgba(160, 97, 82, 0.75); box-shadow: 0px 0px 19px 0px rgba(160, 97, 82, 0.75); }
.mainContainer .navbar { background: #776b5d; color: #fff; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px; margin-bottom: 0px; padding: 10px 15px; }
.mainContainer .navbar .container-fluid { padding: 0px; }
@media screen and (min-width: 320px) and (max-width: 768px) { .mainContainer .navbar .container-fluid .navbar-header { margin: 10px -15px 0px; } }
.mainContainer .navbar .container-fluid .navbar-header > img { margin-right: 15px; }
@media screen and (min-width: 320px) and (max-width: 768px) { .mainContainer .navbar .container-fluid .navbar-header > img { width: 40px; } }
.mainContainer .navbar .container-fluid .navbar-header .dropdown { cursor: pointer; }
@media screen and (min-width: 320px) and (max-width: 768px) { .mainContainer .navbar .container-fluid .navbar-header .dropdown h4 { font-size: 12px; } }
.mainContainer .navbar .container-fluid .navbar-header .dropdown .caret { margin-left: 10px; }
.mainContainer .navbar .container-fluid .navbar-nav { position: relative; margin-top: 15px; }
.mainContainer .navbar .container-fluid .navbar-nav > li { margin-right: 11px; }
.mainContainer .navbar .container-fluid .navbar-nav > li:last-child { margin-right: 0px; }
@media screen and (min-width: 320px) { .mainContainer .navbar .container-fluid .navbar-nav > li { display: inline-block; margin-right: 5px; } }
.mainContainer .navbar .container-fluid .navbar-nav > li > a { position: relative; color: #fff; background: #7f7365; border: 1px solid #695d4f; border-radius: 5px; padding: 5px 10px; }
.mainContainer .navbar .container-fluid .navbar-nav > li > a .notification { width: 20px; height: 20px; padding-top: 5px; text-align: center; position: absolute; top: -12px; right: -8px; background: #f47564; border-radius: 15px; font-size: 9px; line-height: 9px; }
.mainContainer .nav-tabs { border: none; }
.mainContainer ul.fullWidthTab { border: none; }
.mainContainer ul.fullWidthTab > li { background: #f47564; width: 25%; text-align: center; cursor: pointer; border-right: 1px solid #f9998d; }
.mainContainer ul.fullWidthTab > li:last-child { border: none; }
.mainContainer ul.fullWidthTab > li > a { padding: 15px 0px; color: #fff; background: none; border: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px; opacity: 1; }
.mainContainer ul.fullWidthTab > li:hover { opacity: 1; }
.mainContainer ul.fullWidthTab > li.active > a { opacity: 1; position: relative; cursor: pointer; border: none; }
.mainContainer ul.fullWidthTab > li.active > a:hover { color: white; background: #f47564; }
.mainContainer ul.fullWidthTab > li.active::after { content: ""; position: absolute; border: 10px solid transparent; border-top-color: #f47564; bottom: -18px; margin-left: -12px; }

.contentContainer { background: #fff; margin: 0px; }
.contentContainer .tab-content { margin-right: -15px; margin-left: -15px; border-top: 1px solid #e4e0e1; }
.contentContainer .tab-content .tab-pane { border-bottom: 1px solid #e4e0e1; }
.contentContainer .tab-content .tab-pane .clUserContainer { max-height: 350px; overflow-y: scroll; }
.contentContainer .tab-content .tab-pane .clUserContainer table { width: 100%; }
.contentContainer .tab-content .tab-pane .clUserContainer table tr { -webkit-transition: background 0.4s ease-in; -moz-transition: background 0.4s ease-in; -ms-transition: background 0.4s ease-in; transition: background 0.4s ease-in; }
.contentContainer .tab-content .tab-pane .clUserContainer table .check-active { background: rgba(0, 0, 0, 0.3); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n+1) { background: #fff; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) { background: rgba(208, 201, 195, 0.3); }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td { padding: 20px 0px; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:first-child, .contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:last-child { padding: 0px 35px; }
@media screen and (min-width: 320px) and (max-width: 768px) { .contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:first-child, .contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:last-child { padding: 0px 25px; } }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(1) { width: 10%; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(2) { width: 18%; }
@media screen and (min-width: 320px) and (max-width: 768px) { .contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(2) > img { width: 50px; } }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(4) { width: 10%; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(3) h4.name { margin: -10px 0px 15px; color: #f47564; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(3) .details { color: #858585; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(3) .details i { margin-right: 8px; color: #e2dedd; }
.contentContainer .tab-content .tab-pane .clUserContainer table:nth-child(n) td:nth-child(3) .details .address { margin-right: 22px; }
